@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}


section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 100px;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span{
    color: #c20e0e;
    font-size: 1.2em;
    font-weight: 900;
}

.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #c20e0e;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;

}


.content .imgBox{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    height: 470px;
    width: 650px;
}

.content .imgBox img{
    max-height: 100%;
    max-width: 100%;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.thumb li img{
    max-width: 60px;
}

.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert();
}

.circle_main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c20e0e;
    clip-path: circle(600px at right 800px);
}

.imgPrincipal{
    display: flex;
    justify-content: start;
    height: 750px;
    width: 900px;
    
}

.principal{
    padding: 20px;
    max-height: 100%;
    max-width: 100%;
}

#sobre_games{
    background-image: url('imagens/apex_banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

div.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.171); 
}


.logos_games{
    width: 250px;
    height: 150px;
    justify-items: start;
    margin: 20px;
}

.content-descricao{
    background-color: rgba(255, 255, 255, 0.699);
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    width: 50%;
}

.text-descricao{
    
    font-size: 18px;
    font-weight: bold;
}


.video_yt{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    padding: 10px;
    max-width: fit-content;
    max-height: fit-content;
}

.btn_sobre{
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: #c20e0e;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.conteudo h1{
    text-align: center;
    font-size: 24px;
    padding: 10px;
    margin-top: 10px ;
}

.eft{
    color: rgb(15, 133, 0);
    font-size: 32px;
}

.eft_text{
    text-align: center;
    color: #333;
    font-size: 18px;
}


/*cards*/

.container{
  position: relative;
  justify-content: space-between;
  display: flex;
  place-items: center;
  
}

.container .card{
  position: relative;
  cursor: pointer;
}

.container .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: rgb(15, 133, 0);
  transform: translateY(0);
}

.container .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
  padding: 10px;
}

.container .card:hover .face.face1 .content{
  opacity: 1;
}

.container .card .face.face1 .content img{
  max-width: 100px;
}

.container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}

/*fim card*/

#contato{
  background-image: url('imagens/apex_contato.jpg');
  background-position: left;
  background-repeat: no-repeat;
}

.container_contato{
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.699);
  padding: 10px;
  border-radius: 20px;
}


.btn_contato{
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(15, 133, 0);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
    border: none;

}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(44, 44, 44);
}


@media(max-width:991px){
    header{
        padding:20px 20px 120px;
    }
    header .logo{
        max-width: 100px;
    }
    

    section{
        padding: 20px;
    }
    .content{
        flex-direction: column;
        margin-top: 100px;
    }

    .content .textBox h2{
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .content .textBox{
        max-width: 100%;
    }

    .content .imgBox{
        max-width: 100%;
        justify-content: center;
    }

    .content .imgBox img{
        max-width: 450px;
    }

    .thumb li img{
        max-width: 30px;
    }

    .sci{
       background-color: #c20e0e; 
       border-bottom-left-radius: 5px;
       border-top-left-radius: 5px;
       right: 0;
       width: 50px;

    }

    .circle_main{
        clip-path: circle(400px at center bottom);
    }

    #sobre_games{
        background-image: url('imagens/apex_banner_mobile.jpg');
        
    }

    .logos_games{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .content-descricao{
        background-color: rgba(255, 255, 255, 0.699);
        padding: 10px;
        border-radius: 20px;
        margin: 50px;
        width: 80%;

    }

    .text-descricao {
        font-size: 14px;
        font-weight: bold;
    }

}

